<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="SakhrBlogConnectionString" 
         connectionString="Server=3ef561c6-958b-43d5-864d-a30b0159e8dd.sqlserver.sequelizer.com;Database=db3ef561c6958b43d5864da30b0159e8dd;User ID=rwyfrqomsjvjmsrt;Password=MkRF2XoSNEVc5oPxp8Vf4pX7kyeXJwFpMhL3rFiYLpFjZGFCQAgE5JZwuSvBSyhr;"
         providerName="SqlServer"/>
  </connectionStrings>

</configuration>
