<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="../Favicon.ico" />
    <title>musafir</title>
    <meta name="description" content="Click-click your trip" />
    <meta name="keywords" content="musafir" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link href="../../../Resource/Style/Default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../Style/Trip.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../../../Resource/JavaScript/Default.js"></script>
    <script type="text/javascript" src="structuredJsonRender.js"></script>
    <!-- Layout for mobile devices. Do not copy this comment -->
    <!--
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=320, user-scalable=no, minimal-ui">
    <link href="../../../Resource/Style/DefaultMobile.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">optimizeMobile();</script>
    -->
</head>
<body>
    <form>
        <div id="header">
            <div id="headerPanel">
                <a class="menuMobile"></a>
                <a class="logo">musafir</a>
                <a class="filterMobile"></a>
                <ul id="primaryNavigation">
                    <li class="flight"><a href="About.html" tabindex="1"><em></em>Flights</a></li>
                    <li class="hotel"><a href="#" tabindex="1"><em></em>Hotels</a></li>
                    <li class="package"><a href="#" tabindex="1"><em></em>Packages</a></li>
                    <li class="holiday"><a href="#" tabindex="1"><em></em>Holidays</a></li>
                    <li class="business"><a href="#" tabindex="1"><em></em>Business</a></li>
                </ul>
            </div>
        </div>
        <!--<div id="panorama" class="small">
            <div id="panoramaPanel">
                <div id="build" class="build hidden multi City">
                    <script type="text/javascript">
                        //<![CDATA[
                        initializeBuildYourTrip(new Date(2009, 4, 29, 23, 59), -14, 6, 295, true);
                        //]]>
                    </script>
                    <fieldset class="tripOptions">
                        <ul class="tripType">
                            <li>
                                <input id="package1" type="radio" class="hidden radio" name="PackageType" value="1" checked="checked" />
                                <label for="package1" class="radio">Flight only</label>
                            </li>
                        </ul>
                        <ul class="flightType hidden">
                            <li>
                                <input type="radio" id="trip_round" class="radio" name="FlightType" value="1" checked="checked" />
                                <label for="trip_round" class="radio checked">Round trip</label>
                            </li>
                            <li>
                                <input type="radio" id="trip_one" name="FlightType" value="0" class="radio" />
                                <label for="trip_one" class="radio">One way</label>
                            </li>
                            <li class="optional flightsOnly_all">
                                <input type="radio" id="trip_multi" name="FlightType" value="4" class="radio" />
                                <label for="trip_multi" class="radio">Multiple cities</label>
                            </li>
                        </ul>
                    </fieldset>
                    <fieldset class="origin hidden">
                        <label>From</label>
                        <input type="text" name="Origin" value="" class="text" />
                    </fieldset>
                    <fieldset class="destination hidden">
                        <label>To</label>
                        <input type="text" name="Destination" value="" class="text" />
                    </fieldset>
                    <fieldset class="multiCity hidden fullWidth optional flightsOnly_multiCity">
                        <span class="first">Flight 1</span>
                        <div class="origin1">
                            <label>From</label>
                            <input type="text" value="" class="text" />
                        </div>
                        <div class="destination1">
                            <label>To</label>
                            <input type="text" name="" value="" class="text" />
                        </div>
                        <div class="start1">
                            <label>Leave on</label>
                            <input type="text" name="" value="" class="text" />
                        </div>
                    </fieldset>
                    <fieldset class="multiCity hidden fullWidth optional flightsOnly_multiCity">
                        <span>Flight 2</span>
                        <div class="origin2">
                            <input type="text" name="" value="" class="text" />
                        </div>
                        <div class="destination2">
                            <input type="text" name="" value="" class="text" />
                        </div>
                        <div class="start2">
                            <input type="text" name="" value="" class="text" />
                        </div>
                    </fieldset>
                    <fieldset class="multiCity hidden fullWidth optional flightsOnly_multiCity">
                        <span>Flight 3</span>
                        <div class="origin3">
                            <input type="text" name="" value="" class="text" />
                        </div>
                        <div class="destination3">
                            <input type="text" name="" value="" class="text" />
                        </div>
                        <div class="start3">
                            <input type="text" name="" value="" class="text" />
                        </div>
                    </fieldset>
                    <fieldset class="moreFlights hidden fullWidth optional flightsOnly_multiCity">
                        <span><a class="evenMore" href="#">Inquire for more flights</a></span>
                    </fieldset>
                    <fieldset class="start hidden">
                        <label class="optional flightsOnly_all flightsPlusHotels_all">Leave on</label>
                        <label class="optional hotelsOnly_all">Check-in on</label>
                        <input type="text" name="StartDate" value="d / m / y" class="text" />
                    </fieldset>
                    <fieldset class="end hidden">
                        <label class="optional flightsOnly_all flightsPlusHotels_roundTrip">Return on</label>
                        <label class="optional hotelsOnly_all flightsPlusHotels_oneWay">Check-out on</label>
                        <input type="text" name="EndDate" value="d / m / y" class="text" />
                    </fieldset>
                    <fieldset class="travelers hidden fullWidth">
                        <span>Travelers</span>
                        <div class="adults">
                            <label>Adults</label>
                            <select name="Adults">
                                <option selected="selected" value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>
                        <div class="children">
                            <label><a href="TravelerRules.html" class="help compactPopup tabInaccessible">Children</a></label>
                            <select name="Children">
                                <option selected="selected" value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>
                        <div class="infants">
                            <label><a href="TravelerRules.html" class="help compactPopup tabInaccessible">Infants</a></label>
                            <select name="Infants">
                                <option selected="selected" value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>
                    </fieldset>
                    <div id="advancedBuild" class="advanced hidden">
                        <fieldset class="cabinClass hidden">
                            <label>Travel in</label>
                            <select name="CabinClass">
                                <option selected="selected" value="0">Any class</option>
                                <option value="1">Economy class</option>
                                <option value="2">Premium Economy</option>
                                <option value="3">Business class</option>
                                <option value="4">First class</option>
                            </select>
                        </fieldset>
                        <fieldset class="airline hidden">
                            <label>Airline</label>
                            <input type="text" name="Airline" value="" class="text" />
                        </fieldset>
                        <fieldset class="direct hidden">
                            <input id="NonstopFlight" type="checkbox" class="check" value="2" name="NonstopFlight" />
                            <label class="check" for="NonstopFlight">Non-stop flights only</label>
                        </fieldset>
                    </div>
                    <fieldset class="action hidden">
                        <a href="#" class="more tabInaccessible toggleVisibility" name="advancedBuild">More options</a>
                        <a class="optional button yellow flightsOnly_all">Find flights</a>
                    </fieldset>
                </div>
                <h1>Flight from Dubai to London</h1>
                <a id="changeHotel" class="button secondary">Change</a>
                <span class="travellers">2 adults, 3 children, 1 Infant</span>
                <ul class="graph">
                    <li class="h5"><em></em><span>26</span></li>
                    <li class="h4"><em></em><span>27</span></li>
                    <li class="h3"><em></em><span>28</span></li>
                    <li class="h2"><em></em><span>29</span></li>
                    <li class="h1"><em></em><span>30</span></li>
                    <li class="l1 today"><em></em><span>31</span></li>
                    <li class="l2"><em></em><span>1</span></li>
                    <li class="l3"><em></em><span>2</span></li>
                    <li class="l4"><em></em><span>3</span></li>
                    <li class="l5"><em></em><span>4</span></li>
                    <li class="l6"><em></em><span>5</span></li>
                    <li><em></em><span>7</span></li>
                </ul>
                <span class="priceWatch">PriceWatch&trade;<em> on 31 September</em></span>
            </div>
            <style type="text/css">
                #panorama {
                    background-image: url(../../../Resource/Image/Background/bg.jpg);
                }
            </style>
        </div>-->
        <div id="content">
            <ul class="actionBar">
                <li class="filterHead">
                    <span>Filter</span>
                </li>
                <li class="airline">
                    <a>Airline</a>
                </li>
                <li class="departure">
                    <a>Departs</a>
                </li>
                <li class="stops">
                    <a>Stops</a>
                </li>
                <li class="arrival">
                    <a>Arrives</a>
                </li>
                <li class="duration sortDescending">
                    <a>Duration</a>
                </li>
                <li class="price">
                    <a>Price</a>
                </li>
            </ul>
            <div id="resultPanel">
                <div id="filter">
                    <h6 class="filter">Filter<a>Clear</a></h6>
                    <fieldset class="departs slider">
                        <legend>Departs</legend>
                        <div></div>
                    </fieldset>
                    <fieldset class="arrives slider">
                        <legend>Arrives</legend>
                        <div></div>
                    </fieldset>
                    <fieldset class="duration slider">
                        <legend>Duration</legend>
                        <div></div>
                    </fieldset>
                    <fieldset class="price slider">
                        <legend>Price AED</legend>
                        <div></div>
                    </fieldset>
                    <fieldset class="stops slider">
                        <legend>Stops</legend>
                        <div></div>
                    </fieldset>
                    <fieldset class="refundable">
                        <input type="checkbox" id="refundableOnly" />
                        <label for="refundableOnly">Refundable only</label>
                    </fieldset>
                    <fieldset class="nearby checkList">
                        <legend>Nearby airports</legend>
                        <ul>
                            <li>
                                <input type="checkbox" name="airports" id="airports1" value="9W" />
                                <label for="airports1">Dubai, United Arab Emirates (DXB)</label>
                            </li>
                            <li>
                                <input type="checkbox" name="airports" id="airports2" value="S2" />
                                <label for="airports2">Dubai, United Arab Emirates (DWC)</label>
                            </li>
                            <li>
                                <input type="checkbox" name="airports" id="airports3" value="AI" />
                                <label for="airports3">Sharjah, United Arab Emirates (SHJ)</label>
                            </li>
                        </ul>
                    </fieldset>
                    <fieldset class="airline checkList">
                        <legend>Airlines</legend>
                        <ul class="multiAirline">
                            <li>
                                <input type="checkbox" name="airline" id="airline1" value="9W" />
                                <label for="airline1">Show multi-airline</label>
                            </li>
                        </ul>
                        <ul class="airlines">
                            <li>
                                <input type="checkbox" name="airline" id="airline2" value="S2" />
                                <label for="airline2">Jet Konnect</label>
                                <em>AED 2,972</em>
                            </li>
                            <li>
                                <input type="checkbox" name="airline" id="airline3" value="AI" />
                                <label for="airline3">Air India</label>
                                <em>AED 2,972</em>
                            </li>
                            <li>
                                <input type="checkbox" name="airline" id="airline4" value="LX" />
                                <label for="airline4">Swiss</label>
                                <em>AED 2,972</em>
                            </li>
                            <li>
                                <input type="checkbox" name="airline" id="airline5" value="LH" />
                                <label for="airline5">Lufthansa</label>
                                <em>AED 2,972</em>
                            </li>
                            <li>
                                <input type="checkbox" name="airline" id="airline6" value="EI" />
                                <label for="airline6">Aer lingus</label>
                                <em>AED 2,972</em>
                            </li>
                        </ul>
                        <ul class="alliance">
                            <li>
                                <input type="checkbox" name="alliance" id="alliance1" />
                                <label for="alliance1">One world</label>
                            </li>
                            <li>
                                <input type="checkbox" name="alliance" id="alliance2" />
                                <label for="alliance2">Star alliance</label>
                            </li>
                        </ul>
                        <a class="more">Show more airlines</a>
                    </fieldset>
                    <p class="apply"><a>Apply</a></p>
                </div>
                <ul class="flightPanel sortByPrice">
                    <li class="clickable showDetail">
                        <div>
                            <p class="offer"><span><em>5% off on British Airways</em></span></p>
                            <p class="flight"><img src="../../../Resource/Image/Logo/Airline/Large/479.png" alt="" /><span>British Airways <em>148</em><em> / </em><em class="codeShared">5788</em></span></p>
                            <p class="depart">16:00<span class="airlines">Pakistan In..</span></p>
                            <ul class="route stop2">
                                <li class="first alternateAirport">SHJ</li>
                                <li>DOH</li>
                                <li class="technical"></li>
                                <li class="last">LON<em>2</em></li>
                            </ul>
                            <p class="arrive">01:20<span class="duration">45h</span><span> +1 <em>day</em></span></p>
                            <p class="duration">5h 10m</p>
                            <a class="more">less</a>
                            <p class="price"><em>Rs</em>21,085</p>
                            <p class="sell"><a class="button blue">Book</a></p>
                        </div>
                        <div class="details">
                            <ul class="itinerary">
                                <li>
                                    <p class="flight"><img src="../../../Resource/Image/Logo/Airline/Large/607.png" alt="" /><span>KLM <em>509</em></span><dfn>Airbus <em>A320</em></dfn><dfn>Operated by Jet Airways</dfn></p>
                                    <p class="depart">16:00<span class="airlines">British Air..</span></p>
                                    <ul class="route stop0 stop2">
                                        <li class="first alternateAirport">SHJ</li>
                                        <li class="last">DOH<em>1</em></li>
                                    </ul>
                                    <p class="arrive">01:20<span class="duration">45h 30m</span></p>
                                    <p class="duration">9h 55m</p>
                                    <a href="#" class="seatMap compactPopup">Seat map</a>
                                </li>
                                <li class="layover">
                                    <p>Layover in Delhi for 2h 15m</p>
                                </li>
                                <li class="last">
                                    <p class="flight"><img src="../../../Resource/Image/Logo/Airline/Large/185.png" alt="" /><span>Qatar Airways <em>509</em></span><dfn>Airbus <em>A320</em></dfn></p>
                                    <p class="depart">16:00<span class="airlines">British Air..</span></p>
                                    <ul class="route stop1 stop2">
                                        <li class="first">DOH</li>
                                        <li class="technical"></li>
                                        <li class="last">LON<em>2</em></li>
                                    </ul>
                                    <p class="arrive">01:20<span class="duration">45h 30m</span></p>
                                    <p class="duration">9h 55m</p>
                                    <a href="#" class="seatMap compactPopup">Seat map</a>
                                </li>
                            </ul>
                            <div class="fareDetails">
                                <h4>Fare Details</h4>
                                <dl>
                                    <dt>Base Fare</dt>
                                    <dd><em>AED</em>10,14,085</dd>
                                    <dt>Surcharges &amp; fees</dt>
                                    <dd><em>AED</em>200</dd>
                                    <dt>Taxes</dt>
                                    <dd><em>AED</em>100</dd>
                                    <dt>Insurance</dt>
                                    <dd><em>AED</em>100</dd>
                                    <dt>Offer</dt>
                                    <dd><em>AED</em>&minus;150</dd>
                                </dl>
                                <a class="compactPopup">Fare rules</a>
                                <a class="compactPopup">Baggage details</a>
                            </div>
                        </div>
                        <a class="options">+1 more option</a>
                    </li>
                    <li class="clickable">
                        <div>
                            <p class="flight"><img src="../../../Resource/Image/Logo/Airline/Large/295.png" alt="" /><span>American Airlines</span></p>
                            <p class="depart">16:00<span class="airlines">British Air..</span></p>
                            <ul class="route stop0">
                                <li class="first alternateAirport">SHJ</li>
                                <li class="last">JFk<em>1</em></li>
                            </ul>
                            <p class="arrive">01:20<span class="duration">45h 30m</span></p>
                            <p class="duration">5h 10m</p>
                            <a class="more">more</a>
                            <p class="price"><em>AED</em>21,085</p>
                            <p class="sell"><a class="button blue">Book</a></p>
                        </div>
                    </li>
                    <li class="clickable multiCity">
                        <div>
                            <p class="flight"><img src="../../../Resource/Image/Logo/Airline/Large/148.png" alt=""><span>American Airlines <em>6006</em> <em> / </em> <em class="codeShared">1263</em></span></p>
                            <p class="depart">16:00<span class="airlines">British Air..</span></p>
                            <ul class="route stop0">
                                <li class="first alternateAirport">SHJ</li>
                                <li class="last">JFk<em>1</em></li>
                            </ul>
                            <p class="arrive">01:20<span class="duration">45h 30m</span></p>
                            <p class="duration">5h 10m</p>
                            <a class="more" tabindex="1"></a>
                            <p class="price"><em>AED</em>21,085</p>
                            <p class="sell"><a class=" button blue">Book</a></p>
                        </div>
                        <div>
                            <p class="flight"><img src="../../../Resource/Image/Logo/Airline/Large/496.png" alt=""><span>Aegean Air <em>990</em></span></p>
                            <p class="depart">16:00<span class="airlines">British Air..</span></p>
                            <ul class="route stop0">
                                <li class="first alternateAirport">SHJ</li>
                                <li class="last">JFk<em>1</em></li>
                            </ul>
                            <p class="arrive">01:20<span class="duration">45h 30m</span></p>
                            <p class="duration">5h 10m</p>
                        </div>
                        <div>
                            <p class="flight"><img src="../../../Resource/Image/Logo/Airline/Large/685.png" alt=""><span>Aerolineas Argentinas</span></p>
                            <p class="depart">16:00<span class="airlines">British Air..</span></p>
                            <ul class="route stop0">
                                <li class="first alternateAirport">SHJ</li>
                                <li class="last">JFk<em>1</em></li>
                            </ul>
                            <p class="arrive">01:20<span class="duration">45h 30m</span></p>
                            <p class="duration">5h 10m</p>
                        </div>
                        <div>
                            <p class="flight multiAirline"><img src="../../../Resource/Image/Logo/Airline/Large/148.png" alt="American airlines" title="American Airlines"> <img src="../../../Resource/Image/Logo/Airline/Large/181.png" alt="" title="Airlines "> <img src="../../../Resource/Image/Logo/Airline/Large/607.png" alt="" title="Qatar airways"></p>
                            <p class="depart">16:00<span class="airlines">British Air..</span></p>
                            <ul class="route stop0">
                                <li class="first alternateAirport">SHJ</li>
                                <li class="last">JFk<em>1</em></li>
                            </ul>
                            <p class="arrive">01:20<span class="duration">45h 30m</span></p>
                            <p class="duration">5h 10m</p>
                        </div>
                    </li>
                    <li class="loadmore hidden"><a class="button">Load more flights</a></li>
                </ul>
            </div>
        </div>
        <div id="footer">
            <ul id="tertiaryNavigation">
                <li><a>About</a></li>
                <li><a>Press</a></li>
                <li><a>Terms</a></li>
                <li><a>Privacy policy</a></li>
                <li>&copy; Universal Travels &amp; Tourism LLC 2009</li>
            </ul>
            <ul id="follow">
                <li><a href="http://www.facebook.com/musafirdotcom" class="facebook">Facebook</a></li>
                <li><a href="http://www.twitter.com/musafirdotcom" class="twitter">Twitter</a></li>
                <li class="google"><a href="http://www.twitter.com/musafirdotcom" class="google">google</a></li>
            </ul>
        </div>
    </form>
    <div class="hidden">
        <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
        <script type="text/javascript">
            //_uacct = "GoogleAnalyticsAccount";
            //urchinTracker();
        </script>
    </div>
</body>
</html>