#contentPanel div.footer{background:#daebf7;margin-top:30px;padding:4px 15px;width:693px;border-top:solid 1px #008ed6}
#contentPanel div.footer a,#contentPanel div.footer p{margin:0;float:left;font-weight:bold}
#contentPanel div.footer ul{list-style:none;padding:0;display:block;margin:0;padding:0;text-align:right}
#contentPanel div.footer ul li{padding-left:5px;display:inline}
#contentPanel div.footer ul li a{text-decoration:none;float:none}
#contentPanel div.footer ul li a:hover{text-decoration:underline}
#contentPanel h3 a{color:#444;text-decoration:none}
#contentPanel h3 a:hover{color:#006ba3;text-decoration:underline}
#contentPanel p.stamp{margin:-13px 0 20px 0;font-size:11px;color:#888888}
#contentPanel ul.articles{list-style:none;padding:0;margin-top:-15px}
#contentPanel ul.articles a.more{background:url(../Image/Icon/ArrowNext.gif) no-repeat 100% 50%;color:#006ba3;margin:8px 0 0 0;float:right;text-align:right;padding:0 14px 0 0;text-decoration:none;font-weight:bold;box-shadow:none}
#contentPanel ul.articles a.more:hover{text-decoration:underline}
#contentPanel ul.articles h3{font-size:13px;padding:0}
#contentPanel ul.articles a.image{width:295px;height:165px;padding:0;float:right;margin:0 0 0 25px;overflow:hidden}
#contentPanel ul.articles a.image img{float:none;margin:0}
#contentPanel ul.articles li{display:block;margin:0;float:left;padding:20px 0;border-bottom:solid 1px #cccccc}
#contentPanel ul.articles li.last{border-bottom:none}
#contentPanel ul.articles p.stamp{margin:0 0 13px 0}
#contentPanel ul.comments{list-style:none;padding:0;margin-top:0}
#contentPanel ul.comments li{float:left;width:693px;background:#fbfbfb;border-top:solid 1px #d8d8d8;padding:13px 15px 15px 15px;margin-top:15px}
#contentPanel ul.comments li.add{width:723px;padding:13px 0 15px 0;background:#daebf7}
#contentPanel ul.comments li.add.compact{padding:4px 0}
#contentPanel ul.comments li.add.compact div,#contentPanel ul.comments li.add.compact fieldset{display:none !important}
#contentPanel ul.comments li.add.compact h6 a{display:inline !important;cursor:pointer;padding-right:20px;background:url(../Image/Icon/Expand.png) no-repeat right center;font-weight:normal}
#contentPanel ul.comments li.add div.message{margin:15px 0 0 15px;width:654px}
#contentPanel ul.comments li.add div.message br{display:none}
#contentPanel ul.comments li.add div.message p{color:#444}
#contentPanel ul.comments li.add div.message ul{display:none}
#contentPanel ul.comments li.add fieldset{display:inline;float:left;width:185px;margin:13px 0 0 15px}
#contentPanel ul.comments li.add fieldset.captcha{width:290px}
#contentPanel ul.comments li.add fieldset.captcha img{float:right;margin:6px 0 0 15px;padding:0}
#contentPanel ul.comments li.add fieldset.captcha input.text{width:174px}
#contentPanel ul.comments li.add fieldset.captcha span{display:block !important}
#contentPanel ul.comments li.add fieldset.captcha span span{display:none !important}
#contentPanel ul.comments li.add fieldset.submit{width:80px;float:right;padding-right:15px}
#contentPanel ul.comments li.add fieldset.textBox{width:693px}
#contentPanel ul.comments li.add fieldset.textBox label{width:auto !important}
#contentPanel ul.comments li.add fieldset input.text{display:block;margin:0;padding:1px 3px;font:11px Arial, Helvetica, sans-serif;color:#444;width:174px}
#contentPanel ul.comments li.add fieldset label{width:183px;display:block;font-size:11px;padding-bottom:1px;line-height:17px}
#contentPanel ul.comments li.add fieldset label.mandatory{background:url(../Image/Icon/MandatorySmall.gif) no-repeat 100% 45%}
#contentPanel ul.comments li.add fieldset p{margin:0}
#contentPanel ul.comments li.add fieldset span{display:none}
#contentPanel ul.comments li.add h6{margin:0 0 0 15px;font-size:13px;font-weight:bold}
#contentPanel ul.comments li.add h6 a{margin-right:15px;float:right;color:#666666;display:none;text-decoration:none}
#contentPanel ul.comments li.add h6 a:hover{text-decoration:underline}
#contentPanel ul.comments li.add input.submit{float:right;width:70px;background:url(../Image/Icon/ArrowNext.gif) no-repeat 100% 50% !important;color:#006ba3;margin:15px 0 0 0;float:right;text-align:right;padding:0 14px 0 0;text-decoration:none;font-weight:bold;box-shadow:none}
#contentPanel ul.comments li.add textarea{width:687px;height:100px;font:13px Arial, Helvetica, sans-serif;padding:1px 0 1px 3px;color:#444}
#contentPanel ul.comments p.name{margin:0;font-weight:bold}
#thisMonth{background:url(../Image/Background/infoPanel/ThisMonth.gif) no-repeat 0 100%}
#thisMonth a{color:#006ba3;text-decoration:none}
#thisMonth a.more{float:left;display:block;width:128px;padding:9px 0 0 40px;text-align:right}
#thisMonth a:hover{color:#006ba3;text-decoration:underline}
#thisMonth ul{float:left;width:168px;margin:-5px 0 10px 15px}
#thisMonth ul li{float:left;width:168px;padding:5px 0;border-bottom:dotted 1px #cccccc}
#thisMonth ul li.last{border-bottom:none}
#subscribe{background:url(../Image/Background/infoPanel/Insider.gif) no-repeat 0 100%}
#subscribe a{background:url(../Image/Icon/ArrowNext.gif) no-repeat 100% 50%;color:#006ba3;margin:12px 10px 0 0;float:right;text-align:right;padding:0 14px 0 0;text-decoration:none;box-shadow:none}
#subscribe a:hover{text-decoration:underline}
#subscribe p{width:120px;float:left;padding:14px 0 12px 0;padding-top:0}
div.popular{background:url(../Image/Background/infoPanel/Popular.gif) no-repeat 0 100%}
div.popular a{color:#006ba3;text-decoration:none}
div.popular a.more,div.popular p{float:left;display:block;width:106px;padding:24px 0 0 53px;text-align:right}
div.popular a.top6{font-size:15px !important;line-height:19px}
div.popular a.top5{font-size:15px !important;line-height:17px}
div.popular a.top4{font-size:13px !important;line-height:15px}
div.popular a.top3{font-size:11px !important;line-height:13px}
div.popular a.top2{font-size:10px !important;line-height:12px}
div.popular a.top1{font-size:9px !important;line-height:11px}
div.popular a:hover{color:#006ba3;text-decoration:underline}
div.popular span{float:left;width:160px;margin:0}
